@font-face {
    font-family: 'logo';
    src: url('fonts/logo/waterline-webfont.woff2') format('woff2');
    src: url('fonts/logo/waterline-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html,body,div,span,h1,h2,h3,h4,h5,h6,p,a,em,img,strong,form,label,header{ 
    margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;
}

html,body {
    height: 100vh;
}

body { 
    font-family: "Helvetica", "Arial", sans-serif;
    line-height: 1;
    display: flex;
}

.placeholder-bars {
    flex: 15%;
    background-color: rgb(20, 20, 20);
}

.sidebar {
    flex: 24%;
    background: url(images/background.png);
    background-size: 100%;
    display: flex;
    flex-direction: column;
}

.logo-content {
    padding-right: 10px;
    height: 145px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 275px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font: 8em 'logo';
    word-spacing: -0.27em;;
}

.logo-img{
    width: 120px;
}

.img-credit {
    font-size: 14px;
    margin-top: auto;
    margin-bottom: 15px;
    color: white;
    align-self: center;
}

.credit-link:visited, 
.credit-link:active, 
.credit-link:link {
    color: white;
}

.content {
    flex: 42%;
    display: flex;
    flex-direction: column;
}

.describe {
    flex: 35%;
    background-color: rgb(246, 248, 250);
}

.describe-text {
    margin-top: 105px;
    margin-left: 40px;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 1.35em;
    font-weight: bold;
}

em {
    font-style: italic;
}

form {
    flex: 64%;
    display: flex;
    flex-direction: column;
}

.inputs-field {
    flex: 46%;
    display: flex;
    flex-direction: column;
    isolation: isolate; /*for box-shadow work above sibling*/
    box-shadow: 0 6px 10px -7px rgba(0,0,0,0.35);
}

.inputs-field h1 {
    margin-left: 40px;
    margin-top: 15px;
    font-size: 1.35em;
    font-weight: bold;
}

.big-input-container {
    display: flex;
    flex-wrap: wrap;

}

.inputs {
    display: flex;
    flex-direction: column;
    margin: 25px 25px 0 40px;
}

label {
    font-size: 11.5px;
    font-weight: 600;
    letter-spacing: 0.06em;
    margin-bottom: 2px;
}

input {
    width: 220px;
    font-size: 14px;
    padding: 5px;
    border: 1px solid #D6D9DC;
    border-radius: 5px;

}

input:focus {
    outline: 1px solid blue;
    box-shadow: 1px 3px 10px 0px rgba(0,0,0,0.25);
}

.button-field {
    background-color: rgb(246, 248, 250);
    flex: 55%;

}

.submit-btn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 40px;
    margin-top: 30px;
    gap: 30px;
}

button {
    padding: 15px 45px;
    color: white;
    font-size: 1em;
    font-weight: 900;
    background-color: #748f86;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    box-shadow: 1px 3px 10px 0px rgba(0,0,0,0.25);
}

button:hover {
    background-color: #86a89d;
}

button:active {
    background-color: #516d64;
}

.login {
    font-weight: 900;
    text-decoration: none;
}

.login:visited, 
.login:active, 
.login:link {
    color: #748f86;
}